service sdlog /system/bin/sdlog
    class main
    user root
    disabled
    oneshot

on property:persist.service.sdlog.enable=1
    start sdlog

service mmc-info /system/bin/sh /system/etc/mmc-info.sh
    disabled
    oneshot
    user root
    group root
    seclabel u:r:healthd:s0

on property:sys.mmc-info=1
    start mmc-info
